/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #262228;
    height: 100vh;
    color: #262228;
  }

  
  p {
    font-size: 16px;
  }
  
  /* Estilos del carrusel */
  .carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 1s ease-in;
    align-items: center;
    position: fixed;
  }
  .carousel-inner img {
    aspect-ratio: 16/8;
    object-fit: cover;
  }
  img {
    width: 100%;
  }
  
  .carousel-item {
    display: none;
    position: relative;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-item.active {
    display: block;
  }
  .texto-centrado-car {
    outline: 10xpx solid rebeccapurple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    color: white;
    white-space: nowrap;
  }

  